# -----------------------------------------------------------------------------
# Folders:
#

.settings/
bin/
log/
logs/
target/

# -----------------------------------------------------------------------------
# Files:
#

*.jar
*.war
*~
.DS_Store
.classpath
.project

!lib/**/*.jar

# -----------------------------------------------------------------------------
# Project Specific:
#

*.data
*.json
*.txt
*.xyz
*.small
